.container {
	margin-top: 20px;
}


#drawArea {
	border:1px solid gray;
}

#controlPanel {
	border: 1px solid black;
	padding: 20px;
	width: 150px;
	height: 200px;
}
#data {
	padding: 10px;
	border: 1px solid #EEE;
	font-size: 12px;
	width: 200px;
}