body {
	background-color: #AAA;
}

#city {
	margin-top: 20px;
	padding: 2px;
	background-color: #FFF;
	border: 1px solid black;
	height: 750px;
	width: 750px;
	overflow: hidden;
}

.person {
	height: 10px;
	width: 10px;
	margin: 1px;
	border-radius: 50%;
	background-color: #CCC;
	float: left;
	display: block;
	position: absolute;
}
.person.n {
	background-color: #66ccff;
}
.person.i {
	background-color: red;
}


